.hovering {
  background-color: red;
  text-align: center;
}

.cell {
  height: 40px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: aqua !important;
  }
  &:active {
    background-color: green !important;
  }
}

.hovers {
  height: 40px;
  text-align: center;
  cursor: pointer;
  align-items: center;
  background-color: #fff;
  color: rgb(185, 5, 5);
  border: none;
  border-radius: 10px;
  position: relative;
  z-index: 10;

  .hover__span {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    transform: translate(-100px, 22px);
  }

  .dop__background {
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: grey;
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
  }
}
