.matrix__content-table {
  width: 100%;
  height: 600px;
}

.table {
  width: 100%;
  border-spacing: 20px 30px;
  margin: 0 auto;
  &__head {
    .table__head-rows {
      font-size: 20px;
    }
  }
}

tbody {
  tr {
    th {
    }
    td {
      padding: 30px 50px;
      border: 1px solid black;
      border-radius: 10px;
      background-color: rgb(49, 63, 63);
      color: #fff;
    }
  }
}

.wrap__button {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.table__button-navigate {
  padding: 10px 30px;
  margin-right: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(169, 168, 167);
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 5px 4px 5px #888888;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: translateY(-5px);
  }
  &:active {
    background-color: rgb(160, 96, 16);
  }
}

.table__button {
  margin-left: 140px;
  padding: 10px 30px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: bisque;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 5px 4px 5px #888888;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: translateY(-5px);
  }
  &:active {
    background-color: rgb(160, 96, 16);
  }
}

.column-average {
  background-color: blue;
  &:hover {
    background-color: blue !important;
  }
}

.avarage-sum {
  background-color: blue;
  &:hover {
    background-color: blue !important;
  }
}

.row-avarage {
  color: #fff;
  background: blue;
  border-radius: 10px;
  cursor: pointer;
}

.delete__btn-row {
  border: none;
  min-height: 30px;
  min-width: 30px;
  background-color: inherit;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 8px;
  background: #888888;
  color: #fff;
  padding: 5px 10px;
  transition: background-color, color 0.5s ease-in-out;
  &:hover {
    background-color: #fff;
    color: #888888;
  }
}
